@font-face {
  font-family: "Segoe";
  src: local("Segoe"), url("./Segoe/Segoe\ UI.ttf") format("truetype");
}

@font-face {
  font-family: "Segoe Bold";
  src: local("Segoe Bold"),
    url("./Segoe/Segoe\ UI\ Bold.ttf") format("truetype");
}
