<div class="movie-details" [ngClass]="{ dark: isDarkMode }">
  <div class="movie-details__header">
    <div class="movie-details__header-title">{{ movie.name }}</div>
    <button mat-icon-button (click)="switchDialogTheme()">
      <mat-icon>sunny</mat-icon>
    </button>
    <button mat-icon-button (click)="onClose()">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div class="wrapper">
    <div class="movie-details__content">
      <div class="movie-details__content-section">
        <p class="movie-details__content-section-title">General</p>
      </div>
      <div class="movie-details__content-item">
        <div class="movie-details__content-prop">Release Date:</div>
        <span class="movie-details__content-value">
          {{ movie.releasedDate }}
        </span>
      </div>
      <div class="movie-details__content-item">
        <div class="movie-details__content-prop">Director:</div>
        <span class="movie-details__content-value"> {{ movie.director }} </span>
      </div>
      <div class="movie-details__content-item">
        <div class="movie-details__content-prop">Rating:</div>
        <span class="movie-details__content-value"
          [ngClass]="{'bad-movie': movie.rating < 6, 'ok-movie': movie.rating >= 6 && movie.rating < 7, 'good-movie': movie.rating >= 7}">
          {{
          movie.rating }} </span>
      </div>
      <div class="movie-details__content-item">
        <div class="movie-details__content-prop">Duration:</div>
        <span class="movie-details__content-value" [ngStyle]="{color: getColor(movie.duration)}">
          {{ movie.duration | myTime }}
        </span>
      </div>

      <div class="movie-details__divider"></div>

      <div class="movie-details__content-section">
        <p class="movie-details__content-section-title">Cast</p>
      </div>

      <mat-chip-list class="movie-details__content-item">
        <mat-chip *ngFor="let actor of movie.actors">{{ actor.firstName }} {{ actor.lastName }}</mat-chip>
      </mat-chip-list>
    </div>
    <div class="divider-vertical"></div>
    <div class="movie-details__pic">
      <img [src]="movie.photoUrl" />
    </div>
  </div>
</div>